* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.5;
  padding: 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 100vh;
  width: 100vw; */
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #333
}